$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF9800;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

html {
    font-size: 10px;
}
body {
    font-size: 16px;
    background-color: $divider-color;
    color: $secondary-text-color;
    // Меню
    .navbar {
        padding: 0.3rem 5rem;
        border: 1px solid $primary-text-color;
        .number-phone {
            color: $primary-color;
        }
        .navbar-nav {
        li.nav-item > a.nav-link {
            color: $primary-text-color;
            &:hover {
                color: $primary-color;
            }
        }
        li.active > a.nav-link {
            color: $primary-color;
        }
    }
    }
    // Шапка
    header {
        background-image: url('../img/');
        background-position: center ;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 560px;
    }
}